/* inizio stilizzazione intera pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container-fullwidth {
    width: 100vw;
}

.contenitore-maxwidth {
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid white;
}

.pnormal {
    font-size: 18px;
    font-weight: 400;
    color: #33475b;
}

.psmall {
    font-size: 14px;
    font-weight: 500;
    color: #33475b;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #33475b;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    color: #33475b;
}

/* fine stilizzazione intera pagina */

/* inizio stilizzazione header */

.striscia {
    width: 100%;
}

/* striscia lingua */

.linguaggio {
    height: 75px;
    background-color: #f3f6f9;
    border-bottom: 1px solid #cad5e1;
}

.lingua {
    height: 100%;
    position: relative;
}

#spazio-lingua {
    width: 400px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600;
    color: #33475b;
}

#rettangolo-lingua {
    padding-right: 20px;
}

#rettangolo-lingua p {
    display: inline-block;
    padding: 0 4px 0 4px;
}

#rettangolo-lingua i {
    padding-right: 5px;
}

#chevron {
    color: #7C98B6;
}

#vertical-line {
    font-size: 20px;
    font-weight: lighter;
    color: #DCE3EB;
}

#contact-us {
    padding-left: 20px;
}

#spazio-bottoni {
    width: 400px;
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}

#search-button i {
    color: #00a4bd;
    padding-right: 35px;
}

#login-button button {
    background-color: inherit;
    padding: 10px 25px 10px 25px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    color: #FF7A59;
}

#login-button button:hover {
    background-color: #feedea;
}

#hubspotfree-button button {
    background-color: #FF7A59;
    padding: 10px 15px 10px 15px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 10px;
}

#hubspotfree-button button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

/* striscia logo */

.logomenu {
    height: 90px;
}

.logo {
    height: 100%;
}

#spazio-logo {
    height: 100%;
    width: 200px;
    float: left;
    position: relative;
}

#spazio-logo img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#spazio-menu {
    height: 100%;
    width: 700px;
    float: right;
    text-align: right;
}

#spazio-menu ul li {
    display: inline-block;
    line-height: 90px;
    padding: 0 0 0 30px;
    font-size: 16px;
    font-weight: 600;
    color: #33475b;
    padding-right: 10px;
}

#spazio-menu ul li i {
    color: #7C98B6;
    padding-left: 4px;
}

/* striscia copertina */

.jumbotron {
    height: 620px;
    background-color: #fff4ef;
}

.mwjumbotron {
    position: relative;
}

.mwjumbotron img {
    position: absolute;
    right: -100px;
    bottom: 0;
    border-bottom: 3px solid #33475b;
    z-index: 10;
}

.copertina {
    height: 100%;
    position: relative;
}

.sx {
    width: 430px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-70%);
    z-index: 20;
}

.sx h1 {
    font-size: 46px;
    font-weight: 700px;
    line-height: 60px;
    color: #33475b;
    padding-bottom: 30px;
}

.sx button {
    background-color: #FF7A59;
    padding: 25px 30px 25px 30px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    font-size: 17px;
    color: #ffffff;
    margin: 15px 0 20px 0;
}

.sx button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

/* fine stilizzazione header */

/* inizio stilizzazione main */

/* inizio contenitore grigio cubo rubik */

.grigio {
    background-color: #f4f9fd;
}

#rubikcube {
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
}

#rubikcube img {
    width: 270px;
}

/* fine contenitore grigio cubo rubik */

/* inizio card orizzontale */

#cardorizzontale {
    width: 950px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 11px #eaf0f6;
    height: 300px;
}

.latosx-cardorizzontale {
    width: 40%;
    text-align: center;
    float: left;
}

.latosx-cardorizzontale img {
    width: 70%;
    padding: 23px;
}

.latosx-cardorizzontale button {
    background-color: #FF7A59;
    padding: 10px 15px 10px 15px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
    color: #ffffff;
}

.latosx-cardorizzontale button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

.latodx-cardorizzontale {
    width: 60%;
    height: 100%;
    text-align: left;
    float: left;
    position: relative;
}

.contenuto-latodx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pincard {
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: bolder;
    display: inline-block;
}

.latodx-cardorizzontale hr {
    width: 50%;
    display: inline-block;
    margin: 0 0 3px 10px;
    border: 1px solid #eaf0f6;
}

.ceck p {
    display: inline-block;
    padding-right: 10px;
    padding-top: 20px;
}

.ceck p i {
    color: #FF7A59;
}

/* fine card orizzontale */

/* inizio card verticali */

#cardverticali {
    height: 600px;
    position: relative;
    background-color: blue;
}

.contenitore-card {
    width: 90%;
    margin: 20px 5px 10px 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
}

.cards {
    height: 550px;
    width: 310px;
    text-align: center;
    border: 10px solid transparent;
    float: left;
}

.card {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 11px #eaf0f6;
}

.card-img {
    width: 100%;
    padding-top: 20px;
    height: 170px;
}

.card-img img {
    width: 130px;
}

.change img {
    width: 160px;
}

.card-content {
    width: 100%;
}

.card-content hr {
    width: 90%;
    margin: 5%;
    border: 1px solid #eaf0f6;

}

.psmallcard {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #33475b;
}

.pad {
    padding: 10px 20px 10px 20px;
}

.padceck {
    padding: 10px 20px 0 20px;
}

.pincardpro {
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    font-weight: bolder;
    display: inline-block;
}

.h3pro {
    font-size: 22px;
    font-weight: 600;
    color: #33475b;
    padding: 20px 0 20px 0;

/* fine card verticali */

.gradiente {
    /* da cancellare */
    height: 400px;
    background-color: lightblue;
}

.grigio-piccolo {
    /* da cancellare */
    height: 400px;
    background-color: lightgrey;
}

/* fine stilizzazione main */

/* inizio stilizzazione footer */

.petrolio {
    /* da cancellare */
    height: 400px;
    background-color: darkblue;
}

/* fine stilizzazione footer */
