/* inizio stilizzazione intera pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container-fullwidth {
    width: 100vw;
}

.contenitore-maxwidth {
    width: 75%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid red; */
}

.pnormal {
    font-size: 18px;
    font-weight: 400;
    color: #33475b;
}

.psmall {
    font-size: 14px;
    font-weight: 500;
    color: #33475b;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #33475b;
}

h3 {
    font-size: 22px;
    font-weight: 600;
    color: #33475b;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 30px;
}

/* fine stilizzazione intera pagina */

/* inizio stilizzazione header */

.striscia {
    width: 100%;
}

/* striscia lingua */

.linguaggio {
    height: 75px;
    background-color: #f3f6f9;
    border-bottom: 1px solid #cad5e1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
}

.lingua {
    height: 100%;
    position: relative;
}

#spazio-lingua {
    width: 400px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600;
    color: #33475b;
}

#rettangolo-lingua {
    padding-right: 20px;
}

#rettangolo-lingua p {
    display: inline-block;
    padding: 0 4px 0 4px;
}

#rettangolo-lingua i {
    padding-right: 5px;
}

#chevron {
    color: #7C98B6;
}

#vertical-line {
    font-size: 20px;
    font-weight: lighter;
    color: #DCE3EB;
}

#contact-us {
    padding-left: 20px;
}

#spazio-bottoni {
    width: 400px;
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}

#search-button i {
    color: #00a4bd;
    padding-right: 35px;
}

#login-button button {
    background-color: inherit;
    padding: 10px 25px 10px 25px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    color: #FF7A59;
}

#login-button button:hover {
    background-color: #feedea;
}

#hubspotfree-button button {
    background-color: #FF7A59;
    padding: 10px 15px 10px 15px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    color: #ffffff;
    margin-left: 10px;
}

#hubspotfree-button button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

/* striscia logo */

.logomenu {
    height: 90px;
    margin-top: 75px;
}

.logo {
    height: 100%;
}

#spazio-logo {
    height: 100%;
    width: 200px;
    float: left;
    position: relative;
}

#spazio-logo img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#spazio-menu {
    height: 100%;
    width: 700px;
    float: right;
    text-align: right;
}

#spazio-menu ul li {
    display: inline-block;
    line-height: 90px;
    padding: 0 0 0 30px;
    font-size: 16px;
    font-weight: 600;
    color: #33475b;
    padding-right: 10px;
}

#spazio-menu ul li i {
    color: #7C98B6;
    padding-left: 4px;
}

/* striscia copertina */

.jumbotron {
    height: 625px;
    background-color: #fff4ef;
    border-bottom: 3px solid #33475b;
    overflow: hidden;
}

.mwjumbotron {
    position: relative;
}

.mwjumbotron img {
    position: absolute;
    right: -100px;
    bottom: 0;
    z-index: 10;
    min-width: 1297px;
    max-width: 1297px;
}

#clouds img {
    max-height: 500px;
    min-height: 500px;
    max-width: 1100px;
    min-width: 1100px;
    z-index: 9;
}

.imgbassosx{
    position: absolute;
    bottom: 0;
    left: -9990px;
    width: 10000px;
    height: 76px;
    max-height: 76px;
    min-height: 76px;
    background-color: rgb(175,235,228);
    border-top: 3px solid rgb(51,71,91);
}

.imgbassodx{
    position: absolute;
    bottom: 0;
    right: -10000px;
    width: 10000px;
    height: 147.7px;
    max-height: 147.7;
    min-height: 147.7;
    background-color: #00a48d;
    border-top: 3.5px solid rgb(51,71,91);
}

.copertina {
    position: relative;
}

.sx {
    width: 430px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-70%);
    z-index: 20;
}

.sx h1 {
    font-size: 46px;
    font-weight: 700px;
    line-height: 60px;
    color: #33475b;
    padding-bottom: 30px;
}

.sx button {
    background-color: #FF7A59;
    padding: 25px 30px 25px 30px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    font-size: 17px;
    color: #ffffff;
    margin: 15px 0 20px 0;
}

.sx button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

/* fine stilizzazione header */

/* inizio stilizzazione main */

/* inizio contenitore grigio cubo rubik */

.grigio {
    background-color: #f4f9fd;
    padding-bottom: 40px;
}

#rubikcube {
    padding-top: 90px;
    padding-bottom: 50px;
    text-align: center;
}

#rubikcube img {
    width: 270px;
}

/* fine contenitore grigio cubo rubik */

/* inizio card orizzontale */

#cardorizzontale {
    width: 950px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 11px #eaf0f6;
    height: 300px;
}

.latosx-cardorizzontale {
    width: 40%;
    text-align: center;
    float: left;
}

.latosx-cardorizzontale img {
    width: 70%;
    padding: 23px;
}

.latosx-cardorizzontale button {
    background-color: #FF7A59;
    padding: 10px 15px 10px 15px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
    color: #ffffff;
}

.latosx-cardorizzontale button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

.latodx-cardorizzontale {
    width: 60%;
    height: 100%;
    text-align: left;
    float: left;
    position: relative;
}

.contenuto-latodx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pincard {
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: bolder;
    display: inline-block;
}

.latodx-cardorizzontale hr {
    width: 50%;
    display: inline-block;
    margin: 0 0 3px 10px;
    border: 1px solid #eaf0f6;
}

.ceck p {
    display: inline-block;
    padding-right: 10px;
    padding-top: 20px;
}

.ceck p i {
    color: #FF7A59;
}

/* fine card orizzontale */

/* inizio card verticali */

#cardverticali {
    height: 650px;
    position: relative;
}

.contenitore-card {
    width: 930px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cards {
    width: 310px;
    text-align: center;
    border: 10px solid transparent;
    float: left;
}

.card {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 11px #eaf0f6;
}

.card-img {
    width: 100%;
    padding-top: 20px;
    height: 170px;
}

.card-img img {
    width: 130px;
}

.change img {
    width: 160px;
}

.card-content {
    width: 100%;
}

.card-content hr {
    width: 90%;
    margin: 5%;
    border: 1px solid #eaf0f6;

}

.psmallcard {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #33475b;
}

.pad {
    padding: 0 20px 10px 20px;
}

.padceck {
    padding: 10px 20px 0 20px;
}

.pincardpro {
    text-transform: uppercase;
    padding: 20px 0 20px 0;
    font-weight: bolder;
    display: inline-block;
}

.h3pro {
    font-size: 22px;
    font-weight: 600;
    color: #33475b;
    padding: 20px 0 10px 0;
}

.card-content button {
    background-color: #FF7A59;
    padding: 10px 15px 10px 15px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
    color: #ffffff;
}

.card-content button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

.verticalceck p i {
    color: #FF7A59;
}

/* fine card verticali */

/* inizio row gradiente */

/* inizio area testi gradiente */

.gradiente {
    height: 800px;
    text-align: center;
    background: rgb(1,164,188);
    background: linear-gradient(90deg, rgba(1,164,188,1) 0%, rgba(1,188,166,1) 100%);
}

.testi-gradiente {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 70px 0;
}

.h2grad {
    color: #ffffff;
    opacity: 90%;
    padding-bottom: 20px;
    font-weight: bolder;
}

.pgrad {
    color: #ffffff;
    opacity: 90%;
    font-weight: lighter;
    display: inline-block;
}

/* fine area testi gradiente */

/* inizio area loghi gradiente */

.arealoghi-gradiente {
    height: 500px;
    width: 1100px;
    margin: 0 auto;
}

.logosingolo {
    width: 270px;
    height: 184px;
    padding: 30px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    opacity: 90%;
    display: inline-block;
    margin-left: -4px;
}

.limit {
    border-right: none;
}

.down {
    border-bottom: none;
}

.img-logosingolo {
    width: 209px;
    height: 40px;
    position: relative;
    margin: 0 auto;
}

.img-logosingolo img {
    max-width: 150px;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 90%;
}

.testo-logosingolo {
    width: 100%;
    height: 74px;
    text-align: center;
}

.h2number {
    color: #ffffff;
    opacity: 90%;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
}

.h2number::after {
    content: "+";
    font-size: 14px;
    line-height: 40px;
    vertical-align: middle;
    opacity: 90%;
}

.snd::after {
    content: none;
}

.pgradpro {
    color: #ffffff;
    opacity: 90%;
    font-weight: 300;
}

/* fine area loghi gradiente */

/* fine row gradiente */

/* inizio row bianca top */

.biancotop {
    /* da cancellare */
    height: 230px;
    background-color: #ffffff;
}

.biancotopcont {
    height: 185px;
    margin-top: 90px;
    position: relative;
}

.testo-biancotop {
    width: 45%;
    float: left;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.sponsor-biancotop {
    width: 615px;
    float: left;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.h2big {
    font-size: 40px;
    font-weight: bolder;
}

.pbig {
    font-size: 19px;
}

.sponsorsingolo {
    width: 150px;
    height: 68px;
    display: inline-block;
    position: relative;
}

.img-sponsorsingolo {
    width: 150px;
    height: 40px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-sponsorsingolo img {
    max-width: 115px;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

/* fine row bianca top */

/* inizio row bianca bottom */

.biancobottom {
    background-color: #ffffff;
}

.mwbiancobottom {
    position: relative;
    height: 600px;
}

.mwbiancobottom img {
    width: 350px;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.copertina {
    height: 100%;
    position: relative;
}

.testi-biancobottom {
    width: 530px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.testi-biancobottom h1 {
    font-size: 46px;
    font-weight: 700px;
    line-height: 60px;
    color: #33475b;
    padding-bottom: 30px;
}

.testi-biancobottom button {
    background-color: #FF7A59;
    padding: 25px 30px 25px 30px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
    font-size: 17px;
    color: #ffffff;
    margin: 15px 0 20px 0;
}

.testi-biancobottom button:hover {
    background-color: #faac9b;
    border: 1px solid #faac9b;
}

.psmallchiaro {
    color: #516f90;
    font-weight: 400;
    font-size: 13px;
}

.pspace {
    margin: 25px 0 25px 0;
}

/* fine row bianca bottom */

/* fine stilizzazione main */

/* inizio stilizzazione footer */

.petrolio {
    /* da cancellare */
    height: 706px;
    background-color: #32495b;
    margin: 0 auto;
}

.area-footer {
    height: 614px;
    width: 100%;
    border: 1px solid white;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.indicefooter {
    height: 374px;

    background-color: lightgreen;
}

.column {
    width: 25%;
    padding: 15px;
    background-color: grey;
    float: left;
}

.linguefooter {
    height: 100px;
    background-color: yellow;
}

.logofooter {
    height: 140px;
    background-color: lightblue;
}

.ulindice li {
    list-style-type: none;
}

.ulindice li a {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: 600px;
    color: #cbd6e2;
    padding: 10px 0 10px 0;
    text-decoration: none;
}

.ulindice li a:hover {
    color: #7fd1de;
}

.ulindice .specialli a {
    color: #ffffff;
}

.ulindice .specialli a:hover {
    color: #ffffff;
}

#hubspotsupport-button button {
    background-color: #ffffff;
    padding: 10px 15px 10px 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #32495b;
    margin-top: 15px;
}

#hubspotsupport-button button:hover {
    background-color: #e5ecf4;
    border: 1px solid #e5ecf4;
}

/* fine stilizzazione footer */
